:root {
    --light: #FFFFFF;
    --medium: #3C3C3C;
    --dark: #181818;
    --light-primary: #F6E9E9;
    --primary: #CC0000;
    --primary-dark: #B50000;

    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

#dropdown {
    background-color: var(--light);
    width: 100vw;
    height: 0;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link.dropdown-link {
    margin: 4vh 0;
    font-size: 3vh;
}

.material-symbols-rounded.close-menu-icon {
    font-size: 6vh;
    position: absolute;
    top: 1vh;
    right: 2vw;
}

.nav {
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: center;
}

.nav-content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.material-symbols-rounded.menu-icon {
    display: none;
}

.nav-link {
    font-weight: 600;
    font-size: 2.5vh;
    text-align: center;
    padding: 0 2vw;
}

.link {
    transition: 0.2s ease-out;
    color: var(--dark);
}

.link:hover {
    color: var(--primary);
}

.link:active {
    color: var(--primary-dark);
}

.hero-image {
    width: 100%;
    height: 80vh;
    background-color: var(--dark);
    background-size: cover;
    background-image: url(./Brown\ Ballroom\ Team.png);

    display: flex;
    justify-content: center;
    align-items: end;
}

h1 {
    color: var(--light);
    font-weight: 800;
    font-size: 10vh;
    text-align: center;
    margin-bottom: 5%;
}

.down-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-rounded.down-arrow {
    font-size: 13vh;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5vh 0;
    margin: 4vh 0;
}

.section-header {
    text-align: center;
    color: var(--dark);
    font-size: 4vh;
    font-weight: 600;
    margin: 0 0 1vh 0;
}

.title-breaks {
    display: none;
}

.section-paragraph {
    color: var(--medium);
    width: 45%;
    font-size: 2vh;
    line-height: 200%;
    margin: 2vh 0 0 0;
}

.button-container {
    width: 40%;
    margin: 4vh 0 0 0;

    display: flex;
    justify-content: space-around;
}

.primary-button {
    height: 6vh;
    width: 13vw;
    background-color: var(--primary);
    border-radius: 6vh;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    transition: 0.2s ease-out;
}

.primary-button:hover {
    box-shadow: 0.5vh 0.5vw 1rem #cccccc;
}

.primary-button:active {
    box-shadow: none;
    background-color: var(--primary-dark);
}

.primary-button-text {
    font-size: 2vh;
    font-weight: 600;
    color: var(--light);
    line-height: 2vh;
}

.secondary-button {
    height: 6vh;
    width: 13vw;
    background-color: var(--light);
    border-radius: 6vh;
    border: 0.25vh solid var(--primary);

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    transition: 0.2s ease-out;
}

.secondary-button:hover {
    box-shadow: 0.5vh 0.5vw 1rem #cccccc;
}

.secondary-button:active {
    box-shadow: none;
    background-color: var(--light-primary);
}

.secondary-button-text {
    font-size: 2vh;
    font-weight: 600;
    color: var(--primary);
    line-height: 2vh;
}

.calendar {
    border: 0;
    width: 65vw;
    height: 60vh;
    margin: 4vh 0;
}

.social-media-icons {
    width: 40%;
    margin: 2vh 0 0 0;
    display: flex;
    justify-content: space-around;
}

.social-media-icon {
    font-size: 6vh;
    color: var(--medium);
}

@media (orientation: portrait) {
    .nav {
        justify-content: end;
        align-items: center;
    }

    .nav-content {
        display: none;
    }

    .material-symbols-rounded.menu-icon {
        font-size: 6vh;
        margin: 0 2vw;
        display: block;
    }

    .hero-image {
        background-image: url(./Brown\ Ballroom\ Team\ Mobile.png);
    }

    h1 {
        font-size: 5vh;
        margin-bottom: 25%;
    }

    .down-arrow-container {
        margin: 1vh 0 0 0;
    }

    .material-symbols-rounded.down-arrow {
        font-size: 12vh;
    }

    .section-header {
        margin: 0 0 2vh 0;
    }

    .title-breaks {
        display: inline;
    }

    .section-paragraph {
        width: 80%;
        margin: 0;
    }

    .button-container {
        width: 80%;
    }

    .primary-button {
        width: 33vw;
        height: 6vh;
    }

    .secondary-button {
        width: 33vw;
        height: 6vh;
    }

    .calendar {
        width: 95vw;
        height: 65vh;
    }

    .social-media-icons {
        width: 80%;
    }
}